<!-- <footer class="bg-dark text-white text-center p-3">
    <footer>
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="f-info-brand">&copy;Testline Eductech(OPC) Pvt. Ltd. </div>
            <div class="f-info-links">
                <a href="/terms" style="color: white; text-decoration: none;">Privacy policy&nbsp;&nbsp;&nbsp;</a>
            </div>
        </div>
    </footer>
  </footer> -->

  <footer class="footer text-center">
    <div class="container">
        <p>&copy; 2025 Testline Website. All rights reserved.</p>
        <div class="f-info-links">
            <a href="/terms" style="color: white; text-decoration: none;">Privacy policy</a>
        </div>
    </div>
</footer>