
  <nav class="navbar navbar-expand-lg navbar sticky-top" style="background-color: #D81159;">
    <div class="container" >
        <a href="/"><img src="https://framerusercontent.com/images/35td3wkcKo9QLFvQT6TnrxKW4.webp" width="50px" height="50px"></a>
        <a class="navbar-brand" href="/" style="color: white;">&nbsp;&nbsp;&nbsp;Testline</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" >
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/category" style="color: white;">Quizzes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="color: white;">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about" style="color: white;">About</a>
                </li>
                                       
            </ul>
        </div>
    </div>
</nav>