<% layout('layout/boilerplate.ejs') -%>

<body>
   
    <section id="banner">
        <div class="container banner page">
            <div class="wrapper">
                <div class="banner-header">
                    <h1>Privacy Policy</h1>
                    <p>Effective as of March 7, 2022 | help@testline.in</p>
                </div>
            </div>
        </div>
    </section>

    <section id="policy">
        <div class="container">
            <div class="wrapper">
                <h2>PRIVACY POLICY</h2>
                <h3>Introduction</h3>
                <p>The Testline App and its affiliates (“we”, “our” or “us”) believe that your privacy is important. Protecting your private information is our priority. This Privacy Policy explains how we do collection of data, its usage and sharing of information, including personally identifiable information when you use our app (The Testline App) or our website (www.testline.in), which are collectively referred to as “Services”. By using our Services, you consent to the data practices described in this policy.</p>
                <p>Please review this Privacy Policy carefully. If you do not agree with any of its terms, please do not use our app and/or request the deletion of your personal information from our records.
                    <strong>Your continued use of our website will be regarded as acceptance</strong> of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
                <h3>Third Party Service Providers</h3>
                <p>To provide you with the best Services possible, we also use third party service providers, which we entrust storing data, its collection and analysis. We believe that all third party service providers are important to our effective operation. They have their own Privacy Policies and their own conditions, whether to collect your data or opt-out from it.
                    Please be aware that we have no control over the content and practices of these sites, and cannot accept responsibility or liability for their respective privacy policies.</p>
                <p>We provide the information on these services and links to their respective Privacy Policies:</p>
                <ul>
                    <li>Firebase — https://www.firebase.com/terms/privacy-policy.html</li>
                    <li>Segment - https://segment.com/docs/legal/privacy/</li>
                    <li>Amplitude - https://amplitude.com/privacy</li>
                </ul>
                <h3>Information we collect from you</h3>
                <p>We may collect personally identifiable information, such as your name and email address. We may also collect anonymous demographic information, which is not unique to you, such as your age. We may gather additional personal and non-personal information in the future. This information you actively provide to us.</p>
                <p>We may collect personally identifiable information, such as your name and email address. We may also collect anonymous demographic information, which is not unique to you, such as your age. We may gather additional personal and non-personal information in the future. This information you actively provide to us.</p>
                <li><strong> Additional Content You Might Provide</strong>: The information that we collect depends on the context of your interactions with us and the services, the choices you make and the products and features you use. The information we collect may include the following:</li>    

                <table>
                  <tbody><tr>
                    <th>Information We Collect</th>
                    <th>How We Use It</th>
                  </tr>
                  <tr>
                    <td><strong>Contacts List:</strong> We access the contacts list on your mobile device. We always ask for your consent before accessing your contacts list and you have the option to deny us the access to your contacts list.</td>
                    <td>To use referral feature of the platform</td>
                  </tr>
                  <tr>
                    <td><strong>Media:</strong> We access the media gallery on your mobile device, including without limitation, images, videos and audio files and the storage space on your phone. However, we shall always obtain your consent before accessing your images and you shall have the option to deny us such access </td>
                    <td>Many of our services require us to collect images and other information from your device. For example, you won’t be able to upload photos from your gallery unless we can access your photos.</td>
                  </tr>
                  <tr><td><strong>Device Data.</strong> "<strong>Device Data</strong>" includes without limitation, the following: <br> <br> <strong>§ Device attributes:</strong> information such as the operating system, hardware and software versions, battery level, signal strength, available storage space, browser type, app and file names and types, and plugins. <br> <br> <strong>§ Device operations:</strong> information about operations and behaviours performed on the device, such as whether a window is foregrounded or backgrounded. <br> <br> <strong>§ Identifiers:</strong> unique identifiers, device IDs, and other identifiers, such as from games, apps or accounts you use. <br> <br> <strong>§ Device signals:</strong> We may collect your Bluetooth signals, and information about nearby Wi-Fi access points, beacons, and cell towers. <br> <br> <strong>§ Data from device settings:</strong> information you allow us to receive through device settings you turn on, such as access to photos. <br> <br> <strong>§ Network and connections:</strong> information such as the name of your mobile operator or ISP, language, time zone, mobile phone number, IP address and connection speed.</td><td>- To facilitate the sharing of any media such as audios, videos, and images using the Platform; <br> - To customise our Platform to suit your mobile device; <br> - Understand whether there is enough storage space on your device to be able to download any content from the Platform for the purposes of sharing via WhatsApp and/or Facebook; <br> - To optimise your user experience on our Platform; <br> - To facilitate the sharing of any content on the Platform via the applications downloaded on your mobile device; <br> - To verify your identity so as to enforce our terms, conditions, and policies; <br> - To improve the Platform.</td></tr>
                </tbody></table>
                <h3>How we use your information</h3>
                <p>We collect and use your personal information to operate our app/website and deliver the Services you have requested.</p>
                <p>Data shared to Third Party Services as detailed above may be stored on the servers of the associated Third Party Service.</p>
                <p>We will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on us or Services; (b) protect and defend our rights or property; and, (c) act under exigent circumstances to protect the personal safety of our users, or the public.</p>
                <h3>How we secure your personal information</h3>
                <p>We secure your personal information from loss, misuse, unauthorized access, disclosure, alteration, and destruction. Although, we take reasonable measures to do so, please remember that no transmission of data over the internet or any wireless network can be guaranteed to be 100% secure. As a result, we cannot ensure or warrant the security of any information that you transmit to us or from us, and you do so at your own risk.</p>
                <h3>Changes to this Policy</h3>
                <p>We will occasionally update this Privacy Policy to reflect company and customer feedback. We also encourage you to review this Privacy Policy regularly to be informed of how we are protecting your information.</p>
                <h3>Questions</h3>
                <p>We take reasonable measures to store only accurate, up to date, complete, relevant and not misleading information about you. We accept any inquiries from you related to this Privacy Policy. We also welcome your questions or comments regarding this Privacy Policy.</p>
            </div>
        </div>
    </section>

    
</body>

</html>